
.logo {
    transform: translatey(-15px);
    width: 50px;
    height: 50px;
}


.card {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 0;
    text-align: center;
    align-content: center;
}

.contenido-nosotros{
    max-width: 40rem;
    padding: 2rem;
    margin: 2rem;
    text-align: center;
}

.contenido-nosotros h1{
    font-family: fantasy;
}
.card-text {
    color: white;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.card-title {
    color: white;
    font-weight: bold;
}

.menu{
    background-image: url(/imagenes/madera.webp);
    text-align: center;
    align-content: center;
    padding: 2rem;
    color: beige;
    font-family: fantasy;
}

.texto_cat{
    color: rgb(0, 220, 224);
}

.titulo_cat{
    color: rgb(0, 220, 224);;
}
.contenido-nosotros{
    background-color: beige;
}
.menu h1{
    margin-bottom: 3rem;
}
.card:hover {
    
    background-color: rgba(0, 0, 0, 0.548);
    color: #393939;
      
}

.navbar-text {
    font-family: fantasy;
}

.navbar-text:hover{
    
    transform: scale(1.1);
    color: white;
}
.icono-home{
    font-size: 2rem; 
    margin-right: 1rem;
    color: white;
    cursor: pointer;
}

.icono-search{
    font-size: 2rem;
    margin-right: 1rem;

    color: white;
    cursor: pointer;
}

.icono-shoppingcart{
    font-size:  2rem;
    margin-right: 1rem;
    color: white;
    cursor: pointer;
}

.icono-ayuda{
    font-size:  2rem;
    color: white;
    cursor: pointer;
    margin-left: 1800px;
}

.card-logo-login{
    
    padding: 10px;
    width: 25rem;
    background-color: rgb(38, 38, 44);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.137);
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

/* Comienzo div Login */
.login-container {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #cc3d3d;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
}

.login-form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login-form h3 {
    text-align: center;
    text-align: center;
    margin-bottom: 20px;
    color: #1c0707;
}

.login-form input {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #cc3d3d;
    border-radius: 3px;
}

.login-form button {
    text-align: center;
    padding: 10px;
    background-color: #1c0707;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    text-align: center;
    background-color: #0056b3;
}

/* Fin div Login */

/* Div carrusel convenio*/
.carrusel-convenio {
    margin-left:auto;
    margin-right: auto; 
    height: 150px; 
    width: 150px; 
    margin-bottom:20px; 
    margin-top: 30px;
    cursor: pointer;
}

/* Div link convenio */
.link-convenio {
    text-align: center;
    margin-bottom: 10px;
}

.imagen-promocion {
    text-align: center; /* Centra la imagen horizontalmente */
}

#contenedor-imagen-promocion {
    max-width: 100%; /* Establece el ancho máximo del contenedor de la imagen */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    cursor: pointer;
}

#contenedor-imagen-promocion img {
    max-width: 95%; /* La imagen no superará el ancho del contenedor */
    height: auto; /* Ajusta automáticamente la altura de la imagen */
}

.card {
    width: 100%; /* Hace que la tarjeta ocupe todo el ancho del contenedor */

}

.card img {
    max-width: 100%; /* La imagen ocupará todo el ancho disponible dentro de su contenedor */
    height: 100%; /* Ajusta automáticamente la altura de la imagen */
} 

/* Comienzo div registro */
.registro-container {

    width: 40%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #cc3d3d;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
}

.registro-form {

    display: flex;
    flex-direction: column;
}

.registro-form h3 {

    margin-bottom: 20px;
    color: #1c0707;
}

.registro-form input {

    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #cc3d3d;
    border-radius: 3px;
}

.registro-form button {

    padding: 10px;
    background-color: #1c0707;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registro-form button:hover {

    background-color: #0056b3;
}

/*ESTILO CARRITO*/
.producto-contenedor {
    width: 30vw;
    height: 120px;
    margin-bottom: 20px;
    margin-left: 40px;
    display: block;
}

.producto {
    border-radius: 0.25rem;
    background-color: rgb(38, 38, 44);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.137);
    padding: 10px;
    height: 120px;
    display: flex;
    position: relative;
}

.imagen-producto {
    border-radius: 0.25rem;
    width: 100px;
    margin-right: 10px;
}

.contenido-producto {
    flex-grow: 1; 
}

.botones {
    margin-top: 10px;
    position: absolute; 
    top: 0; 
    right: 0;
    
}

.cantidad {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.cantidad-input {
    width: 40px;
    text-align: center;
}

.cantidad button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    padding: 5px;
    color: antiquewhite;
}


#carrito p {
    font-weight: bold;
    color: white;
}

.card2 {
    
    padding: 10px;
    width: 16rem;
    background-color: rgb(38, 38, 44);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.137);
    text-align: center;
    margin: 15px;
}

.contenedor {
    display: flex;
    justify-content: center;
    
}

.eliminar{
    background-color: rgb(231, 200, 200);
}

/*ESTILO MODAL*/

.modal-header{
    background-color:#cc3d3d;
}

@media screen and (min-width: 390px) {
    .carousel-inner img{
        min-height: 16rem;
    }

    #contenedor-imagen-promocion img {
        min-height: 16rem;
    }

    
}